$clr-dark-blue:#173A56;
$clr-white:#FFFFFF;
$clr-dark-black:#22343D;
$clr-teal:#02897A;
$clr-process:#2F281E;
$clr-light-gray:#AFAFAF;
$clr-very-light-gray:#E0E0E0;
$clr-dark-navy:#252B42;
$clr-dimgray:#737373;