.collaborative-section{
    margin-bottom: 150px;
}
.collaborative {
   @include Display($items:center,$justify:space-between,$gap:0px)
}
.collaborative__left-wrapper {
    max-width:486px;
}
.collaborative__text-main {
    @include TextStyle($color:$clr-dark-black,$size:16px,$weight:600,$height:100%,$letter:0px,$bottom:8px)
}
.collaborative__title {
    @include TextStyle($color:$clr-dark-black,$size:32px,$weight:700,$height:100%,$letter:0px,$bottom:23px)
}
.collaborative__text {
    @include TextStyle($color:$clr-dark-black,$size:16px,$weight:400,$height:26px,$letter:0px,$bottom:30px)
}
.collaborative__list {
    @include Display($items:center,$justify:start,$gap:25px);
    flex-direction: column;
}
.collaborative__item-text {
     @include TextStyle($color:$clr-dark-black,$size:16px,$weight:600,$height:26px,$letter:0px,$bottom:12px)
}
.collaborative__item-title {
     @include TextStyle($color:$clr-dark-black,$size:16px,$weight:400,$height:26px,$letter:0px,$bottom:0px)
}
.collaborative__right-wrapper {
    max-width: 541px;
}
@media (max-width:950px){
    .collaborative{
        margin-bottom: 100px;
        flex-direction: column;
        gap: 75px;
        align-items: center;
        justify-content: start;
    }
    .collaborative__left-wrapper {
    max-width:80%;
}
.collaborative__text-main {
    @include TextStyle($color:$clr-dark-black,$size:16px,$weight:600,$height:100%,$letter:0px,$bottom:8px)
}
.collaborative__title {
    @include TextStyle($color:$clr-dark-black,$size:32px,$weight:700,$height:100%,$letter:0px,$bottom:16px)
}
.collaborative__text {
    @include TextStyle($color:$clr-dark-black,$size:16px,$weight:400,$height:26px,$letter:0px,$bottom:16px)
}
.collaborative__list {
    @include Display($items:center,$justify:start,$gap:15px);
    flex-direction: column;
}

.collaborative__right-wrapper {
    max-width: 80%;
}
}
@media (max-width:630px){
    .collaborative-section{
        margin-bottom: 67px;
    }
     .collaborative{
        margin-bottom: 67px;
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
        justify-content: start;
    }
    .collaborative__left-wrapper {
    max-width:100%;
}


.collaborative__list {
    @include Display($items:start,$justify:center,$gap:16px);
}

.collaborative__right-wrapper {
    max-width: 100%;
}
.collaborative__right-wrapper>img{
    max-width: 350px;
    height: 291px;
}
}