.collaborative-section{
    margin-bottom: 150px;
}
.collaborative {
   @include Display($items:center,$justify:space-between,$gap:0px)
}
.collaborative__left-wrapper {
    max-width:486px;
}
.collaborative__text-main {
    @include TextStyle($color:$clr-dark-black,$size:16px,$weight:600,$height:100%,$letter:0px,$bottom:8px)
}
.collaborative__title {
    @include TextStyle($color:$clr-dark-black,$size:32px,$weight:700,$height:100%,$letter:0px,$bottom:23px)
}
.collaborative__text {
    @include TextStyle($color:$clr-dark-black,$size:16px,$weight:400,$height:26px,$letter:0px,$bottom:30px)
}
.collaborative__list {
    @include Display($items:center,$justify:start,$gap:25px);
    flex-direction: column;
}
.collaborative__item-text {
     @include TextStyle($color:$clr-dark-black,$size:16px,$weight:600,$height:26px,$letter:0px,$bottom:12px)
}
.collaborative__item-title {
     @include TextStyle($color:$clr-dark-black,$size:16px,$weight:400,$height:26px,$letter:0px,$bottom:0px)
}
.collaborative__right-wrapper {
    max-width: 541px;
}